<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>  


    <connectionStrings>
        <add name="SNFxp.My.MySettings.SNFDatabaseConnectionString1"
            connectionString="Data Source=NEYU-PC\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SNFdb.mdf;Initial Catalog=SNFDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SNFxp.My.MySettings.SNFDatabaseConnectionString" connectionString="Data Source=|DataDirectory|\SNFDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="SNFxp.My.MySettings.snfdbxpConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=snfdbxp;User ID=NeYu;Password=adminneyu"
            providerName="System.Data.SqlClient" />
        <add name="SNFxp.My.MySettings.snfdbxpConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=snfdbxp;User ID=NeYu;Password=adminneyu"
            providerName="System.Data.SqlClient" />
        <add name="SNFxp.My.MySettings.Setting" connectionString="Data Source=neyu007.ddns.net;Initial Catalog=snfdbxp;User ID=NeYu;Password=adminneyu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
